.ribbon {
  position: fixed;
  z-index: 1000;
  color: #000;
  bottom: 0;
  width: 100%;
  font-size: var(--fs-200);
}
@media screen and (min-width: 53.125em) {
  .ribbon {
    height: var(--size-650);
    position: relative;
    bottom: auto;
  }
}
.ribbon__wrapper {
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-block: 0.5rem;
  background-color: #fff;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.8) 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
  animation: shimmer 4s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -100vw 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .ribbon__wrapper {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 850px) {
  .ribbon__wrapper {
    background-color: rgba(255, 255, 255, 0.48);
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.48) 25%,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.ribbon__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ribbon__message {
  font-size: var(--fs-200);
  line-height: 1.3125rem;
  font-weight: var(--fw-thick-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ribbon:hover .ribbon__message {
  text-decoration: underline;
}
.ribbon__arrow,
.ribbon__icon {
  flex: none;
  display: inline-block;
  vertical-align: middle;
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}
.ribbon__icon {
  margin-right: 0.375rem;
  color: var(--clr-black-480);
}
@media screen and (max-width: 389px) {
  .ribbon__icon {
    display: none;
  }
}
.ribbon__arrow {
  color: var(--clr-black-480);
}
